@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI */
@source "./node_modules/preline/dist/*.js";

@import url("./node_modules/preline/variants.css");

/* Optional Preline UI Styles */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

/* Overrides requested */
@layer utilities {
  .px-2 {
    margin-top: 0.5rem; /* add top margin alongside horizontal padding */
  }

  .bg-gray-100 {
    --tw-bg-opacity: 1;

    background-color: transparent !important; /* neutralize gray bg */
  }
}
